@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@layer base {
  :root {
    --background: hsl(218, 14%, 16%);
    --foreground: hsl(219, 14%, 71%);
    --muted: hsl(218, 12%, 20%);
    --muted-foreground: hsl(218, 12%, 70%);
    --popover: hsl(218, 14%, 13%);
    --popover-foreground: hsl(219, 14%, 81%);
    --card: hsl(218, 14%, 14%);
    --card-foreground: hsl(219, 14%, 76%);
    --border: hsl(218, 4%, 21%);
    --input: hsl(218, 4%, 24%);
    --primary: hsl(220, 13%, 86%);
    --primary-foreground: hsl(220, 13%, 26%);
    --secondary: hsl(220, 3%, 25%);
    --secondary-foreground: hsl(220, 3%, 85%);
    --accent: hsl(218, 14%, 31%);
    --accent-foreground: hsl(218, 14%, 91%);
    --destructive: hsl(10, 85%, 46%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(220, 13%, 86%);
    --chart-1: hsl(220, 13%, 86%);
    --chart-2: hsl(220, 3%, 25%);
    --chart-3: hsl(218, 14%, 31%);
    --chart-4: hsl(220, 3%, 28%);
    --chart-5: hsl(220, 16%, 86%);
    --radius: 0.5rem;
  }

  .dark {
    --background: hsl(218, 14%, 16%);
    --foreground: hsl(219, 14%, 71%);
    --muted: hsl(218, 12%, 20%);
    --muted-foreground: hsl(218, 12%, 70%);
    --popover: hsl(218, 14%, 13%);
    --popover-foreground: hsl(219, 14%, 81%);
    --card: hsl(218, 14%, 14%);
    --card-foreground: hsl(219, 14%, 76%);
    --border: hsl(218, 4%, 21%);
    --input: hsl(218, 4%, 24%);
    --primary: hsl(220, 13%, 86%);
    --primary-foreground: hsl(220, 13%, 26%);
    --secondary: hsl(220, 3%, 25%);
    --secondary-foreground: hsl(220, 3%, 85%);
    --accent: hsl(218, 14%, 31%);
    --accent-foreground: hsl(218, 14%, 91%);
    --destructive: hsl(10, 85%, 46%);
    --destructive-foreground: hsl(0, 0%, 100%);
    --ring: hsl(220, 13%, 86%);
    --chart-1: hsl(220, 13%, 86%);
    --chart-2: hsl(220, 3%, 25%);
    --chart-3: hsl(218, 14%, 31%);
    --chart-4: hsl(220, 3%, 28%);
    --chart-5: hsl(220, 16%, 86%);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
